[submodule "KaluoEngine/vender/spdlog"]
	path = KaluoEngine/vender/spdlog
	url = https://github.com/gabime/spdlog
[submodule "KaluoEngine/vendor/GLFW"]
	path = KaluoEngine/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
[submodule "KaluoEngine/vendor/imgui"]
	path = KaluoEngine/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "KaluoEngine/vendor/glm"]
	path = KaluoEngine/vendor/glm
	url = https://github.com/g-truc/glm
